{{template "base" . }}

{{define "title"}}
    yoyo
{{end}}

{{define "content"}}
    <div class="text-center">
        <img src="/static/yoyoes_3.png">
    </div>

    <h2 class="mt-5">yoyo</h2>
    <hr>

    <p>
        We carry only the highest quality product. Check out our best selling yoyo, or buy
        a monthly subscription, and have three yoyo sent to you for the price of two
        every month!
    </p>

{{end}}